#content {
  #home {
    .home-help-text {
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 0 3px #333;
    }

    .owl {
      left: 15px;
      top: 108px;
    }

    #home-logo {
      margin-top: 160px;
    }

    #home-button-container {
      bottom: 220px
    }

    #home-disclaimer {
      font-family: "Source Sans Pro", sans-serif;
      position: absolute;
      bottom: 5px;
      text-align: center;
      display: block;
      width: 100%;
      color: #ffffff;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      text-shadow: 0 0 3px #333;

      p {
        margin-bottom: 0;
      }
    }

    #logo-cultuurconnect {
      background: url('/theme/bieblo-forest/1080/logo_cultuurconnect.png') center center no-repeat;
      height: 90px;
      width: 90px;
      position: absolute;
      bottom: 0;
      right: 320px;
    }

    #logo-de-krook {
      background: url('/theme/bieblo-forest/1080/logo_de_krook.png') center center no-repeat;
      height: 90px;
      width: 90px;
      position: absolute;
      bottom: 0;
      right: 230px;
    }

    #logo-vlaamse-gemeenschap {
      background: url('/theme/bieblo-forest/1080/logo_vlaanderen.png') center center no-repeat;
      height: 90px;
      width: 230px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}