#content {
  #home-logo {
    margin-top: 160px;
  }

  #home-button-container {
    bottom: 220px
  }

  #home-disclaimer {
    position: absolute;
    bottom: 5px;
    text-align: center;
    display: block;
    width: 100%;
    color: #bebebe;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 0 3px #000;
  }
}