#content {
  #swipe {
    .owl {
      left: -68px;
      top: 9px;
      transform: rotate(45deg);
      z-index: -1;
    }

    .swipe-wrapper {
      max-width: 1080px;
      min-height: 810px;

      .theme {
        background: url('/theme/bieblo-forest/1080/card_bg.png') no-repeat center center;
        width: 496px;
        height: 644px;
        background-size: auto 100%;
        margin-left: 292px;
        left: initial;
        right: initial;
        font-size: 30px;

        &.liked,
        &.disliked {
          .label {
            font-size: 8px;
            margin-top: -4px;
          }
        }

        &.disliked {
          margin-left: 80px;
          width: 129.95199999999994px !important;
          height: 168.72799999999995px !important;
          top: 30% !important;
          transform: none;
          transform-origin: initial;
        }

        &.liked {
          top: 30% !important;
          width: 124px !important;
          height: 161px !important;
          margin-left: 870px;
          transform: none;
          transform-origin: initial;
        }

        &.liked:nth-child(1) {
          top: 10% !important;
        }

        &.liked:nth-child(2) {
          top: 30% !important;
        }

        &.liked:nth-child(3) {
          top: 50% !important;
        }

        .image {
          width: 60%;
          margin: 15px auto;
          height: 100%;
        }

        .label {
          position: absolute;
          left: 0;
          top: 10px;
          right: 0;
          font-family: 'luckiest_guyregular', cursive;
          text-shadow: 2px 2px 2px #333;
          font-size: inherit;
          color: #f9f337;
        }
      }
    }

    #btn-dislike {
      background-image: url('/theme/bieblo-forest/1080/btn_dislike.png');
      left: 15px;
    }

    #btn-like {
      background-image: url('/theme/bieblo-forest/1080/btn_like.png');
      right: 15px;
    }

    #btn-like,
    #btn-dislike {
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      width: 250px;
      text-indent: -9000px;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 0;
    }
  }
}